* {
    margin: 0;
    padding: 0;
}

.home-grid {
    display: grid;
    grid-template-columns: 13rem auto;
    z-index: 0;
}

.sidebar {
    grid-column: 1 / 2;
    height: 100vh;
    z-index: 1;
}

.menu {
    grid-column: 2 / 2;
}